@charset "UTF-8";
/*Configurações da tag body*/
body {
    display: flex; /*Tornando o container flexivel*/
    flex-direction: column; /*Definindo a direção do itens do container*/
    justify-content: center; /*Definindo espaços entre e ao redor dos itens ao centro*/
    align-items: center; /*Alinhando itens ao centro*/
    background-color:#5f2c82;/*Definindo cor de fundo*/
    width: 100vw;/*Definindo 100 vezes a largura */
    height: 100vh;/*Definindo 100 vezes altura*/
    background-image: linear-gradient(to top, #49a09d, #5f2c82); /*gradiente linear ao fundo*/
    font: normal 13pt arial;/*Definindo a fonte*/
    text-align: center;/*Alinhanto texto ao centro*/
    color: white; /*Cor do texto*/
    text-shadow: 1px 1px black; /*sombra do texto*/
}
/*Configurações da tag section*/
section {
    display: flex;
    flex-direction: column;
    background: gray; /*Definindo cor de fundo do elemento*/
    width: 80vw;/*Definindo o elemento com 80% da Largura*/
    max-width: 550px; /*Definindo a largura máxima do elemento*/
    padding: 20px; /*Definindo distância dos elementos para borda*/
    border-radius: 10px;/*Arredondando as bordas do elemento*/
    align-items: center;/*Alinhando itens ao centro*/
    box-shadow: 0px 0px 10px rgb(0, 0, 0.450);/*Criando sombreamento*/
}
/*Configurações da tag section h2*/
/*Configurações da tag section h2*/
section h1, h2 {
    margin-top: 20px;/*Distância para margem superior*/
    margin-bottom: 5px; /*Distância para margem inferior*/
    text-shadow: 2px 2px black; /*sombra do texto*/
}
/*Configurações da tag section ul*/
section ul {
    margin-top: 2px; /*Distância para margem superior*/
    margin-bottom: 2px; /*Distância para margem inferior*/
    text-align: left;
    text-shadow: 1px 1px black; /*sombra do texto*/
}
/*Configurações da tag input*/
input {
    font: normal 15pt Arial;
    width: 100px;
    border: 1px solid blue; /*Criando contorno de 1px*/
    border-radius: 10px;/*Arredondando as bordas do elemento*/
}
/*Configurações da div res*/
div#res {
    background: blue;
    border-radius: 10px;
    padding: 5px;
}
/*Configurações dos botões calcular e limpar*/  
#validar, #limpar {
    padding: 5px;
    background: black;/*Definindo cor de fundo do botão*/
    border: none;
    color: white; /*Cor da letra*/
    border-radius: 10px;/*Arredondando as bordas do elemento*/
    cursor: pointer;/*Modifica o cursor do mouse para pointer*/
 }
 /*Configurações dos botões subtrair e limpar ao passar o mouse*/  
 #validar:hover, #limpar:hover  {
     background: white;
     color: black;
     transition: background-color .5s; /*Tempo de transição*/
 }
/*Configurações da tag table*/
table {
    width: 450px;/*Largura da tabela*/
    border-collapse: collapse;
    position: relative;
}
/*Configurações das tags td e th*/
td, th {
    border: 1px solid black;/*Criando contorno de 1px*/
    padding: 5px;/*Definindo distância dos elementos para borda*/
    text-shadow: 1px 1px black; /*sombra do texto*/
}
/*Configurações da tag caption*/
caption {
    font-size: 1.5em;/*Defindo tamanho da fonte*/
    font-weight: bold; /*Negrito*/
    padding: 10px;
    background-color: black;/*Definindo cor de fundo*/
    text-shadow: 1px 1px blue;
}